@import './admin.scss';

// SERVICE CSS
table {
    th:first-child {
        width: 10%;
    }
    th:nth-child(2) {
        width: 20%;
    }
    th:nth-child(3) {
        width: 40%;
    }
    th:nth-child(4) {
        width: 20%;
    }
    th:last-child {
        width: 10%;
    }
}

table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

table tr:hover td {
    background-color: #ffedcc;
}
table td {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

// ANIMATION BUTTON CSS
.btn-register {
    animation: mymove 1s infinite cubic-bezier(0.5, 0, 0, 1);
    box-shadow: 0px 0px 2px 5px #01babd;
}

@keyframes mymove {
    100% {
        box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
    }
}

// GẠCH CHÂN
.hr-underline {
    position: relative;
    margin-bottom: 4px;
    ::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #01babd;
        position: absolute;
        bottom: 0;
    }
}

//LOGIN CSS
.login-background {
    // background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height: 100vh;

    .login-container {
        width: 400px;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 300px;

        .login-content {
            padding: 10px;
            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }
            .forgot-password {
                font-size: 12px;
            }
        }
    }
}

.slick-arrow {
    background-color: #69c9c8 !important;
}

.bg-infrastructure {
    background-image: url('../images/bkg-5.png');
}

.bg-appointment {
    background-image: url('../images/bkg-7.png');
}

.tran_header {
    a {
        text-decoration: none;
    }
}

.bd-table {
    border: 1px solid #ccc;
}

.rs-modal-dialog {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
}

.phone-wrapper {
    position: fixed;
    display: flex;
    margin-left: 2%;
    margin-bottom: 1%;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
    z-index: 999;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    background: linear-gradient(97deg, #ea3d47 1.07%, #fe8059 99.68%);
    border-radius: 50px;
    font-size: 18px;
}
